<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn561gaUZ3fhiRQcvV-0oPLBH7Dah1XV_EDuyYlraY7UlT3oPKeSjYrLtJLw920-1VJq0&usqp=CAU">
    <title>HomeFlicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  <script type="text/javascript">
    window.logo = "<%= image_url('homeflicks_logo.png') %>";
    window.backImage = "<%= image_url('newbackimage.jpg') %>";
    window.profileLogo = "<%= image_url('profile-logo.png') %>";
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
